@import url(../../../css/main.css);
.question-wrapper{
    width: 50%;
    background-color:var(--white);
    box-shadow: 1px 1px 6px;
    border-radius: 6px;
    padding: 1rem;
    margin: 1rem 0rem;
}

